.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.icone-menu {
    width: 50px;
}

.bloco-dois, .bloco-tres, .bloco-quatro, .bloco-cinco, .bloco-seis {
    margin-top: 50px;
}

.slide{
    margin-top: 66px;
}

footer {
    color: white;
    padding: 20px 0;
    background-color: brown;
}

.a-rodape {
    text-decoration: none;
    color: white;
}

.a-rodape:hover {
    text-decoration: none;
    color: white;
}